<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="position">
      <form id= "loginform" action="/login" method="post" class="container">
        <div class="centering-wrapper">
            <div class="section1 text-center">
                <div class="primary-header">Bienvenidos!</div>
                <div class="secondary-header">Ingrese sus datos para iniciar sesion</div>
                <div class="input-position">
                    <div class="form-group">
                        <h5 for="nombre" class="input-placeholder">Nombre de usuario</h5>
                        <input type="text" class="form-style" id="nombre" name="nombre" required>        
                    </div>      
                    <div class="form-group">     
                        <h5 for="contrasena" class="input-placeholder">Contraseña</h5>
                        <input type="password" id="contrasena" name="contrasena" class="form-style" required>
                    </div> 
                </div>
                <br>
                 <div class="btn-position">
                    <button type="submit" class="btn">Login</button>    
                 </div>
                 <button type="submit" class="btn">Registrarse</button>     
            </div>      
        </div>
      </form>
        <div src="message"></div><br>   
    </div>
    <script src="login.js"></script>
 </body>
<footer> </footer>
</html>