<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2 style="margin: auto; width: 220px; height: 120px;">Iniciar Sesión</h2>
    <form id= "loginform" action="/login" method="post" style="margin: auto; width: 220px; height: 120px;">
            <label for="nombre">Nombre de usuario:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
            <br>
            <button type="submit" style="margin-top: 20px; margin-bottom: 20px;">Iniciar Sesión</button>
            <button type="submit" style="margin-top: 20px; margin-bottom: 20px;">Registrarse</button>
    </form>
    <div src="message"></div>
    <br>
    <div>
        <h1 style="margin: auto; width: 220px; color: aqua;">Grupo 11</h1>

    </div>
    <script src="loguin.js"></script>
</body>
<footer>
    <p style="color: aquamarine; size: 50px; margin: auto; width: 220px;">Integrantes: Jimena Matorras, Nelson Solano, Emilio Ruso, Nahuel Soto</p>
</footer>
</html>