<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile_User</title>
        <link rel="stylesheet" href="styles/profile.css">
    </head>
    <body>
        <div class="container">
            <article class="card">
                <div class="backgronud">
                    <img src="..assets/ima1.jpg" alt="profile">
                </div>
                <div class="content">
                    <h2>Registrarse</h2>
                    <form action="/cargar_usuario" method="post" style="margin: auto; width: 190px; height: 80px;">
                        <tr style="margin: auto; height: 100px;">
                            <td>
                                <label for="user_name">Nombre:</label>
                                <input type="text" id="user_first_name" name="user_first_name" required>
                            </td>
                            <td>
                                <label for="user_last_name">Apellido:</label>
                                <input type="text" id="user_last_name" name="user_last_name" required>
                            </td>
                            <td>
                                <label for="user_email">Email:</label>
                                <input type="text" id="user_email" name="user_email" required>
                            </td>
                            <td>
                                <label for="user_name">Nombre de Usuario:</label>
                                <input type="text" id="user_name" name="user_name" required>
                            </td>
                            <td>
                                <label for="user_password">Password</label>
                                <input type="password" id="user_password" name="user_password" required>
                            </td>
                            <td>
                                <label for="user_date">Fecha de Nacimiento</label>
                                <input type="date" id="user_date" name="user_date" required>
                            </td>
                            <td>
                                <p>Selecciona avatar...:
                                    <input type="file" name="archivosubido">
                                    <input type="submit" value="Enviar"> 
                                </p>
                            </td>
                            <td>
                                <label for="user_question">Pregunta Secreta</label>
                                <input type="text" id="user_question" name="user_question" required>
                            </td>
                            <td>
                                <label for="user_answer">Respuesta</label>
                                <input type="text" id="user_answer" name="user_answer" required>
                            </td>
                        </tr>
                        <button type="submit" style="margin-top: 20px; width: 100px;">Guardar</button>
                    </form>
                </div>
            </article>
        </div>
    </body>
</html>