<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos de Registro</title>
        <link rel="stylesheet" href="../styles/profile.css">
    </head>
    <body>
        <div class="position">
          <form id= "loginform" action="/register" method="post" class="container">
            <div class="centering-wrapper">
                <div class="section1 text-center">
                    <div class="primary-header">Crea tu Cuenta</div>
                    <div class="secondary-header">Ingresa tus datos</div>
                    <div class="input-position">
                        <div class="form-group">
                            <h5 for="first_name" class="input-placeholder">Nombre (*)</h5>
                            <input type="text" class="form-style" id="user_first_name" name="nombre" required>        
                        </div>   
                        <div class="form-group">
                            <h5 for="last_name" class="input-placeholder">Apellido (*)</h5>
                            <input type="text" class="form-style" id="user_last_name" name="nombre" required>        
                        </div>   
                        <div class="form-group">
                            <h5 for="date" class="input-placeholder">Fecha de Nacimiento (*)</h5>
                            <input type="date" id="user_date" class="form-style" name="user_date" required>      
                        </div>    
                        <div class="form-group">
                            <h5 for="email" class="input-placeholder">Email (*)</h5>
                            <input type="text" class="form-style" id="user_email" name="user_email" required>        
                        </div>    
                        <div class="form-group">
                            <h5 for="user" class="input-placeholder">Nombre de Usuario (*)</h5>
                            <input type="text" class="form-style" id="user_name" name="user_name" required>        
                        </div>    
                        <div class="form-group">     
                            <h5 for="user_password" class="input-placeholder">Contraseña (*)</h5>
                            <input type="password" id="user_password" name="user_password" class="form-style" required>
                        </div> 
                        <div class="form-group">
                            <h5 for="question" class="input-placeholder">Pregunta Secreta (*)</h5>
                            <input type="text" class="form-style" id="user_question" name="user_question" required>        
                        </div>    
                        <div class="form-group">
                            <h5 for="answer" class="input-placeholder">Respuesta (*)</h5>
                            <input type="text" class="form-style" id="user_answer" name="user_answer" required>        
                        </div>    
                    </div>
                    <br>
                     <div class="btn-position">
                        <button type="submit" class="btn">Guardar</button>    
                     </div>
                      
                </div> 
            </div>
          </form>
            <div src="message"></div><br>   
        </div>
        <script src="login.js"></script>
     </body>
    <footer> </footer>
    </html>